a{
    text-decoration: none;
    color: white;
}
body, html{
    margin: 0;
    padding: 0;
    /* height: var(--vh);
    width: var(--vw); */
}
.main-section{
    position: relative;
    display: flex;
}
.aboutUsHeader{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(6, 6, 80);
    color: #fff;
    text-align: center;
    font-weight: 100;
}
.aboutUsHeader > h1{
    font-weight: 500;

}
.aboutUsFooter{
    position: fixed;
    bottom: 0;
}
.aboutUsFooter{
    width: 100%;
}
.footerContent{
    width: 100%;
}
.aboutUsContent{
    margin-top: 50px;
}
.content > p {
    border: 1px solid #000;
    color: #000;
    margin: 0;
    padding: 10px 10px;
}
.footerContent > p{
    border: 1px solid #000;
    color: #000;
    margin: 0;
    padding: 10px 10px;
}