a{
    text-decoration: none;
    color: white;
}
.input-color{
    color: #fff;
}
hr{
    margin: 0px;
}
body, html {
    margin: 0;
    padding: 0;
    height: var(--vh);
    width: var(--vw);
}
body {
    background-image: url('../images/logInBAckground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}
.homeContent{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.about01 >h5{
    margin-top: 30px;
}
.about01 >h5>a{
    color: blue;
}
.navbar{
    margin-top: 20px;
}
.btn-login-get01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: #A4B799;
    margin: 5px;
    color: white;
}
.appInfo{
    text-align: right;
}
.logInSection {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    flex-direction: column;
}
.logInDetails{
    background-color: rgba(0, 0, 0, 0.154);
    padding: 20px;
    width: 75%;
}
.get-new-01-ID{
    margin-top: 115px;
    background-color: rgba(0, 0, 0, 0.154);
    padding: 10px;
    width: 90%;
    height: 90%;
}
.inputStyle{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 5px;
    padding-left: 20px;
}
.form-check{
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 20px;
}
.form-check-label{
    color: white;
}
.checkboxStyle{
    border: 1px solid rgba(255, 255, 255, 0.486);
    background-color: transparent;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.inputStyle::placeholder{
    color: white;
}
.logInBtnRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-btn{
    padding: 10px 25px;
    font-size: 20px;
}
.support{
    display: flex;
    justify-content: end;
}
.support-slide {
    position: absolute;
    /* top: 0; */
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
    transition:  0.5s ease-in-out;
}
.sendMessageSection,
.videoChatSection{
    height: 100%;
    z-index: 1035;
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    transition:  0.5s ease-in-out;
}
.support-content {
    text-align: center;
}
.close-support-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.socialIcon{
    width: 100%;
    display: flex;
}
.icon{
    margin: 5px;
}
.icon > a >img{
    width: 45px;
}
.icon:hover {
    opacity: 0.7;
}

.forgotPass{
    color: white;
}
.modal-content{
    align-items: center;
}
.recoverPassHeading{
    padding: 15px 0px;
    text-align: center;
    width: 100%;
    background-color: #000;
    color: white;
}
.recoverPassword{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.recoverPassBtn{
    display: flex;
}
.forgotPasswordModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: #fff; 
    z-index: 10;
}
.input-recoverPass{
    border-bottom: 1px solid black;
}
.input-recoverPass::placeholder{
    color: #00000083;
    font-size: 22px;
}
.recoverPassBtn{
    width: 100%;
}
.ok,.close{
    padding: 12px 0px;
    width: 50% ;
}
.ok{
    background-color: green;
}
/*-----------------Send Message-------------------*/

.sendMessageHeading{
    background-color: #2e0339;
}
.sendMessageHeading > h3{
    color: white;
    margin: 0;
    padding: 10px 0px;
}
.sendMessageBody > form{
    margin-top: 10px;
}
.sendMessageBody > form >select{
    width: 100%;
    color: #000;
    margin-bottom: 10px;
}
.sendMessageBody > form .inputStyle{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 20px;
}
.sendMessageBody > form > input::placeholder,
.sendMessageBody > form > input{
    color: #000;
}
.sendMessageBody > form > textarea{
    border-color: #000;
    background-color: transparent;
    width: 100%;
    padding:5px 20px;
    border-radius: 10px;
}
.file{
    margin-top: 10px;
    text-align: center;
    padding: 10px 10px;
    border: 1px solid #000;
    border-radius: 10px;
}
.file > span{
    font-weight: 900;
    font-size: 20px;
}
.fileInputLabel input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.fileInputLabel span {
    font-weight: 600;
    font-size: 25px;
    /* background-color: #007bff; */
    color: #000;
    border-radius: 4px;
    cursor: pointer;
}
.fileInputLabel {
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: #000;
    border: 1px solid #007bff;
    display: inline-block;
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
}
.fileInputLabel:hover {
    /* background-color: #007bff; */
    color: #fff;
}
#fileInput{
    color: #000;
    width: 100%;
}
.submitSendMsg{
    margin-top: 35px;
    margin-bottom: 20px;
    background-color: green;
    border-radius: 10px;
    padding: 10px 0px;
    width: 100%;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
}
/*-----------------Support Team-------------------*/

.supportHeading,
.sendMessageHeading{
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #000;
padding-bottom: 5px;
}
.supportHeading > span,img{
    padding-right: 5px;
    width: 30px;
    height: 30px;
}
.supportCall{
    border-bottom: 1px solid #000;
    padding: 10px 0px;
}
.supportCall > a{
    font-weight: 700;
    font-size: 23px;
    color: #007bff;
}
.supportIcon{
    width: 50px;
    height: auto;
}
.supportIconGroup{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}
.innerIconGroup{
    display: flex;
}
.innerElement{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.innerElement > span{
    color: #000;
    font-weight: 700;
    font-size: 20px;
}
/*-----------------Get New O1 ID-------------------*/

/*-----------------Bootstrap class-------------------*/
.bg-light{
    background-color: transparent !important;
}
.navbar-toggler{
    background-color: #A4B799 !important;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.offcanvas-title {
    width: 20%;
}
.offcanvas-start {
    width: 80%; 
}
.offcanvas-start.show {
    transform: translateX(0);
    width: 80%; 
}
/*-----------------Responsive-------------------*/

/* Extra Small Devices (phones) */
@media only screen and (max-width: 575.98px) {
    /* .get-new-01-ID{
        background-color: #007bff;
    } */
  }
  
  /* Small Devices (tablets) */
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    
  }
  
  /* Medium Devices (laptops) */
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    
  }
  
  /* Large Devices (desktops) */
  @media only screen and (min-width: 992px) {
    
  }
  
