a{
    text-decoration: none;
    color: white;
}
.content-padding{
    padding-top: 140px;
}
body, html {
    margin: 0;
    padding: 0;
    /* height: var(--vh);
    width: var(--vw); */
}
.blankDiv{
    display: block;
    margin-top: 10px;
}
.cseSection,
.dseSection,
.button_search_section,
.companyDataSection{
    background-color: #fff !important;
}

.headingSection{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin-bottom: 0px;
}
.about01 >h5{
    margin-top: 30px;
}
.about01 >h5>a{
    color: blue;
}
.pageHeading{
    display: inline-block;
}
.navbar {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.homeButton{
    margin-top: 8px;
    display: inline-block;
}
h1{
    margin: 0;
    padding-left: 60px;
}
.homeButton > img{
    width: 45px;
}


.socialIcon{
    width: 100%;
    display: flex;
}.icon{
    margin: 5px;
}
.icon > a> img{
    width: 45px;
}
.icon:hover {
    opacity: 0.7;
}
.cseSection{
    margin-top: 60px;
}
.companyDataSection{
    position: relative;
    margin-top: 15px;
}
.topSpace{
    margin-top: 70px;
}
.indexClass{
    z-index: 0 !important;
}
  /*====================Table=================*/
  .customTable{
    border: 1px solid black;
  }
  .cse_logo > img {
    width: 100px;
  }
  .table{
    position: relative;
    text-align: center;
  }
  .verticaclAlign{
    vertical-align: middle !important;
  }
  .dataBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tblHeader{
    position: sticky;
    top: 0;
    background-color: rgb(71, 70, 70);
    color: white;
  }
.comapnyTable td:nth-child(-n+3),
th:nth-child(-n+3) {
    border-right: none;
}
.specificHeight{
    height: 100% !important;
}

 /*====================Button Section=================*/
.allButton{
    display: flex;
    justify-content: space-around;
}
.allBtn{
    border: 1px solid black;
    border-radius: 10px;
}
.input-group{
    padding: 10px;
    margin-top: 10px;
    background-color: #5555551c;
}
.input-group-append > span{
    background-color: #55555554;
    border: none;

}
.input-group input{
    background-color: #55555554;
    border-radius: 10px;
}
.input-group-text > img{
    width: 30px;
}
.reload{
    margin-left: 5px;
}
.reload > img {
    margin-top: 5px;
    margin-left: 15px;
    width: 30px;
}

.table-wrapper {
    overflow-y: auto; 
    height: 500px;
}
.table-wrapper-share-price{
    overflow-y: auto; 
    max-height: 1000px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/*-----------------Bootstrap class-------------------*/
.fixed-top{
    z-index: 8 !important;
}
.bg-light{
    background-color: transparent !important;
}
.navbar-toggler{
    background-color: #A4B799 !important;
}

.navbar-light .navbar-toggler-icon,
.customNav {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.offcanvas-title {
    width: 20%;
}
.offcanvas-start {
    width: 80%; 
}

.offcanvas-start.show {
    transform: translateX(0);
    width: 80%; 
}