<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../JS/home.js"></script>
    <title>footer</title>
</head>
<body>
    <!-- <div class="footer"> -->
        <div class="footer-icon" >
            <a href="./home.html">
                <img style="width: 45px; height: auto;" src="../images/home-button.png" alt="Home">
                <span>Home</span>
            </a>
            
        </div>
        <div class="footer-icon">
            <a href="./marketStatus.html">
                <img style="width: 45px; height: auto;" src="../images/stock.png" alt="Market">
                <span>Market</span>
            </a>
        </div>
        <div class="footer-icon">
            <a href="">
                <img style="width: 45px; height: auto;" src="../images/trade.png" alt="Trade">
                <span>Trade</span>
            </a>
            
        </div>
        <div class="footer-icon">
            <a href="./news.html">
                <img style="width: 45px; height: auto;" src="../images/newspaper.png" alt="News">
                <span>News</span>
            </a>
            
        </div>
    <!-- </div> -->
</body>
</html>