<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/about01.css">
    <title>About 01</title>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <section class="main-section">
        <div class="aboutUsHeader">
            <h1>About 01 LIMITED</h1>
        </div>
        <div class="aboutUsContent">
            <div class="container content" id="aboutUsData"></div>

        </div>
        <div class="registeredOffice">

        </div>
        <div class="businessOffice">

        </div>
        <div class="aboutUsFooter">
            <div class="container footerContent">
                <p>BSEC Reg No. 3.2/CSE-104/2020/332 <br> SEC/Registration/CDBL-DP-265 <br>TREC No: CSE-104</p>
            </div>
        </div>
    </section>
    
</body>
<script src="../JS/about01.js"></script>
<script src="../JS/fetchData.js"></script>
</html>