<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <!-- <script src="../vendor/bootstrap/js/bootstrap.min.js"></script> -->
    
    <title>Home</title>

</head>
<body>
    <section class="mainSection" id="homeMainSection">
        <div id="popUpSec" class="popUpSec">
            <div class="container">
                <div class="moreHeading">
                    <span style="width: 30px;"></span>
                    <h3 class="heading">More</h3>
                    <img onclick="closeMore()" style="width: 30px; height: 30px;" src="../images/icons/remove.png" alt="Close">
                </div>
                <br>
                <div id="more-table1"></div>
            </div>
        </div>
        <!-- <div class="sendMessageSection" id="sendMessageSection"></div>
        <div class="videoChatSection" id="videoChatSection"></div> -->

        
            
        <!-- <div class="section section-header">
            <div id="navbarAfter"></div>
        </div> -->
    
        <div class="section section-profile" id="section-profile">
            <div class="container">
                <div class="profile-content" id="profile-content"></div>
            </div>
        </div>
    
        <div class="section section-table-1">
            <div class="container">
                <div class="table1Content-btn">
                    <div id="table-1Content" class="table-1Content"></div>
                    <div class="moreBtn">
                        <div class="more" onclick="showMore()">More...</div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="section section-table-2">
            <div class="container">
                <div id="table-2Content" class="table-2Content"></div>
            </div>
        </div>
        <div class="section section-availableStok">
            <div class="container">
                <div class="availableStockHeading">
                    <h3>AVAILABLE STOCKS</h3>
                </div>
                <div class="btnRow">
                    <div class="btnGroup">
                        <div class="stockBtn active" onclick="showStockData('currentStockBody')">
                            <div class="currentBtn">CURRENT STOCK</div>
                        </div>
                        <div class="stockBtn" onclick="showStockData('oldStockBody')">
                            <div class="oldButton">OLD STOCK</div>
                        </div>
                    </div>
                </div>
                <div class="stockBody">
                    <div class="currentStockBody" id="currentStockBody">
                        <table>
                            <tr>
                                <th>Company</th>
                                <th>Stock<br>Qty</th>
                                <th>Avg<br>Cost</th>
                                <th>Last<br>Price</th>
                                <th>Total<br>Price</th>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                        </table>
                        <div class="tableFooter">
                            <p>Count : 0</p>
                            <p>0</p>
                        </div>
                    </div>
                    
                    <div class="oldStockBody" id="oldStockBody">
                        <table>
                            <tr>
                                <th>Company</th>
                                <th>Stock<br>Qty</th>
                                <th>Avg<br>Cost</th>
                                <th>Last<br>Price</th>
                                <th>Total<br>Price</th>
                            </tr>
                            <tr>
                                <td>effgh</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                        </table>
                        <div class="tableFooter">
                            <p>Count : 0</p>
                            <p>0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-ExecutedTrades">
            <div class="container">
                <div class="availeExecutedTradesHeading">
                    <h3>AVAILABLE STOCKS</h3>
                </div>
                <div class="btnRow">
                    <div class="btnGroup">
                       
                        <input type="date" id="date-from" >
                    
                        <span>To</span>
                    
                        <input type="date" id="date-to">
                    
                        <div class="searchImg">
                            <img style="width: 20px;" src="../images/icons/magnifying-glass.png" alt="search">
                        </div>
                        
                    </div>
                </div>
                <div class="stockBody">
                    <div class="currentStockBody" id="currentStockBody">
                        <table>
                            <tr>
                                <th>Company</th>
                                <th>Stock<br>Qty</th>
                                <th>Avg<br>Cost</th>
                                <th>Last<br>Price</th>
                                <th>Total<br>Price</th>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                            <tr>
                                <td>abcd</td>
                                <td>100</td>
                                <td>343</td>
                                <td>534</td>
                                <td>3345</td>
                            </tr>
                        </table>
                        <div class="tableFooter">
                            <p>Count : 0</p>
                            <p>0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    
        <!-- <div class="section-footer" id="sectionFooter">
            <div class="footer-icon" >
                <a href="./home.html">
                    <img style="width: 45px; height: auto;" src="../images/home-button.png" alt="Home">
                    <span>Home</span>
                </a>
                
            </div>
            <div class="footer-icon">
                <a href="./marketStatus.html">
                    <img style="width: 45px; height: auto;" src="../images/stock.png" alt="Market">
                    <span>Market</span>
                </a>
            </div>
            <div class="footer-icon">
                <a href="">
                    <img style="width: 45px; height: auto;" src="../images/trade.png" alt="Trade">
                    <span>Trade</span>
                </a>
                
            </div>
            <div class="footer-icon">
                <a href="./news.html">
                    <img style="width: 45px; height: auto;" src="../images/newspaper.png" alt="News">
                    <span>News</span>
                </a>
                
            </div>
        </div> -->

        <!-- <div id="support-slide" class="support-slide">
            <div class="support-content">
                <div class="container supportHeading">
                    <span></span>
                    <h3 class="heading">Support Team</h3>
                    <img onclick="closeSupportTeam()" src="../images/icons/remove.png" alt="Close">
                </div>
                <div class="container supportCall">
                    <a href="tel:+8809678781212"><img src="../images/icons/call.jpg" alt="Call" class="supportIcon"> Call +88 096 7878 1212</a>
                </div>
                <div class="container supportCall">
                    <a href="tel:+8801810031200"><img src="../images/icons/call.jpg" alt="Call" class="supportIcon"> Call +88 018 1003 1200</a>
                </div>
                <div class="container supportIconGroup">
                    <a href="#"><img src="../images/icons/messenger.png" alt="Messenger" class="supportIcon"></a>
                    <a href="#"><img src="../images/icons/whatsapp.png" alt="WhatsApp" class="supportIcon"></a>
                    <a href="#"><img src="../images/icons/viber.png" alt="Viber" class="supportIcon"></a>
                    <a href="#"><img src="../images/icons/telegram.png" alt="Telegram" class="supportIcon"></a>
                </div>
                <div class="container supportCall">
                    <a href="mailto:support@01.limited"><img src="../images/icons/email.png" alt="Call" class="supportIcon"> Email: support@01.limited</a>
                </div>
                <div class="container supportIconGroup">
                    <div class="innerIconGroup" onclick="showSendMessage()">
                        <a href="#" class="innerElement"><img src="../images/icons/comments.png" alt="Message" class="supportIcon"><span>Message</span></a>
                    </div>
                    <div class="innerIconGroup" onclick="showVideoChat()">
                        <a href="#" class="innerElement"><img src="../images/icons/video-call.png" alt="Video Chat" class="supportIcon"><span>Video Chat</span></a>
                    </div>
                    <div class="innerIconGroup">
                        <a href="#" class="innerElement"><img src="../images/icons/live-chat.png" alt="Live Chat" class="supportIcon"><span>Live Chat</span></a>
                    </div>
                </div>
            </div>
        </div> -->
       
        

    </section>
    <!-- <script src="../JS/home.js"></script> -->
</body>
<!-- <img src="../images/user_photo.jpeg" alt=""> -->
</html>