<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/payUs.css">
    <title>How to Pay Us</title>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="blankDiv"></div>
    <section class="container headingSection ">
        <div class="navButton" id="navButton"></div>
        <h1 class="pageHeading">How to Pay Us</h1>
        <div class="homeButton"><img src="../images/icons/home-button.png" alt="Home"></div>
    </section>

    <section class="howToPayUsSection">
        <div class="container">
            <div class="payUscontent" id="payUscontent">
                <div class="payUsMobile">
                    <div class="heading">
                        <h4>Mobile</h4>
                        <hr>
                    </div>
                    <div class="payUs">
                        <button class="payUsType">
                            <img src="../images/payment-img/bkash.png" alt="bkash">
                        </button>
                        <button class="payUsType">
                            <img src="../images/payment-img/nagad.png" alt="Nagad">
                        </button>
                    </div>
                </div>
                <div class="payUsCard">
                    <div class="heading">
                        <h4>Card</h4>
                        <hr>
                    </div>
                    <div class="payUs">
                        <button class="payUsType btn">
                            <img src="../images/payment-img/visa.png" alt="Visa">
                        </button>
                        <button class="payUsType">
                            <img src="../images/payment-img/mastarcard.png" alt="Mastar Card">
                        </button>
                        <button class="payUsType">
                            <img src="../images/payment-img/americanExpress.png" alt="American Express">
                        </button>
                    </div>
                </div>
                <div class="payUsBank">
                    <div class="heading">
                        <h4>Bank</h4>
                        <hr>
                    </div>
                    <div class="payUs">
                        <button class="payUsType">
                            <img src="../images/payment-img/cityBank.png" alt="City Bank">
                        </button>
                        <button class="payUsType">
                            <img src="../images/payment-img/dutch.png" alt="Dutch Bangla Bank">
                        </button>
                        <button class="payUsType">
                            <img src="../images/payment-img/eastern.png" alt="Eastern Bank">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="../JS/marketStatus.js"></script>
</html>