<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/marketStatus.css">
    <title>Share Price</title>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="blankDiv"></div>
    <section class="container headingSection fixed-top">
        <div class="navButton" id="navButton"></div>
        <h1 class="pageHeading">Share Price</h1>
        <div class="homeButton"><img src="../images/icons/home-button.png" alt="Home"></div>
    </section>

    <section class="button_search_section topSpace">
        <div class="container indexClass">
            <div class="buttonRow">
                <div class="allButton">
                    <button type="button" class="btn allBtn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select type
                    </button>
                    <button type="button" class="btn allBtn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Sector
                    </button>
                    <button type="button" class="btn allBtn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Sort
                    </button>
                </div>
            </div>
        </div>

        <div class="container indexClass">
            <div class="searchBox">
                <div class="input-group">
                    <div class="input-group-append">
                        <span class="input-group-text" id="searchIcon">
                            <img src="../images//icons/magnifying-glass.png" alt="search icon">
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="searchIcon">
                    <div class="reload">
                        <img src="../images/icons/reload.png" alt="Reload">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <div class="content-padding">
    </div> -->

    <section class="companyDataSection specificHeight">
        <div class="container specificHeight">
            <div class="table-wrapper specificHeight">
                <table class="table comapnyTable table-bordered">
                    <thead class="tblHeader">
                        <tr>
                            <th>Company</th>
                            <th>LTP</th>
                            <th>YCP</th>
                            <th>+/-</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                        <tr>
                            <td>1JANATAMF</td><td>6.20</td><td>6.20</td><td>0.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="../JS/marketStatus.js"></script>
</html>